body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  
  #rod {
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    width: 2px;
    height: 150px;
    border-radius: 5px;
    transform-origin: 50% 0%;
    transform: rotate(60deg);
    background-color: green;
  }